In [1]:
import pandas as pd
import geopandas

In [ ]:
# world_map = geopandas.read_file('filtered_countries.geojson')
# world_map.loc[world_map['name'].str.contains('France')].iloc[0,2]

In [2]:
countries = {
    'BR': {'country': 'BR', 'country_name': 'Brazil', 'latitude': -15.749997, 'longitude': -51.92528}, 
    'CA': {'country': 'CA', 'country_name': 'Canada', 'latitude': 56.130366, 'longitude': -106.346771},
    'DE': {'country': 'DE', 'country_name': 'Germany', 'latitude': 51.165691, 'longitude': 10.451526},
    'FR': {'country': 'FR', 'country_name': 'France', 'latitude': 46.227638, 'longitude': 2.213749},
    'GB': {'country': 'GB', 'country_name': 'United Kingdom', 'latitude': 55.378051, 'longitude': -3.435973},
    'IN': {'country': 'IN', 'country_name': 'India', 'latitude': 20.593684, 'longitude': 78.96288},
    'JP': {'country': 'JP', 'country_name': 'Japan', 'latitude': 36.204824, 'longitude': 138.252924},
    'KR': {'country': 'KR', 'country_name': 'South Korea', 'latitude': 35.907757, 'longitude': 127.766922},
    'MX': {'country': 'MX', 'country_name': 'Mexico', 'latitude': 23.634501, 'longitude': -102.552784},
    'RU': {'country': 'RU', 'country_name': 'Russia', 'latitude': 61.52401, 'longitude': 105.318756},
    'US': {'country': 'US', 'country_name': 'USA', 'latitude': 37.09024, 'longitude': -95.712891}}

countries_df = pd.DataFrame(countries.values())

# countries_df.to_csv('countries.csv', index = False)

# countries_df

df = pd.read_csv('df_youtube_raw.csv')

df = df.drop(columns = [df.columns[0], 'publish_time', 'video_id', 'thumbnail_link', 
                         'ratings_disabled', 'comments_disabled', 'description'])

df = df.merge(countries_df, on='country')
df = df.drop(columns = ['country'])

df['views'] = pd.to_numeric(df['views'], downcast='integer')
df['likes'] = pd.to_numeric(df['likes'], downcast='integer')
df['dislikes'] = pd.to_numeric(df['dislikes'], downcast='integer')
df['comment_count'] = pd.to_numeric(df['comment_count'], downcast='integer')
# df['publish_time'] = pd.to_datetime(df['publish_time'], format='%Y-%m-%d %H:%M:%S')
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%Y-%m-%d')

df = df.loc[df['trending_date'] > '2020-01-01'].dropna()

def transformTags(x):
    return "|".join(x.strip().replace('"', '').replace('[None]', '').replace('[none]', '').lower().split('|'))

df['tags'] = df['tags'].apply(transformTags)

In [3]:
bubble_map_data = df.groupby(['country_name', 'latitude', 'longitude']).agg({'title': 'count'}).rename(columns = {'title': 'value'})

bubble_map_data.to_csv('bubble_map_data.csv', index = True)

pd.read_csv('bubble_map_data.csv')

      country_name   latitude   longitude  value
0           Brazil -15.749997  -51.925280  46887
1           Canada  56.130366 -106.346771  46805
2           France  46.227638    2.213749  46814
3          Germany  51.165691   10.451526  46773
4            India  20.593684   78.962880  44048
5            Japan  36.204824  138.252924  46809
6           Mexico  23.634501 -102.552784  46674
7           Russia  61.524010  105.318756  45723
8      South Korea  35.907757  127.766922  43705
9              USA  37.090240  -95.712891  46908
10  United Kingdom  55.378051   -3.435973  46846

In [178]:
doughnut = df.groupby(['country_name', 'category_title']).agg({'title': 'count'}).rename(columns = {'title': 'count'}).reset_index()

doughnut = doughnut.merge(bubble_map_data, on = 'country_name').rename(columns = {'value' : 'total'})

doughnut['value'] = round(doughnut['count'] / doughnut['total'] * 100, 1)

doughnut.index = doughnut['country_name']

doughnut = doughnut.drop(columns = ['country_name', 'count', 'total'])

doughnut_temp = df.groupby(['category_title']).agg({'title': 'count'}).rename(columns = {'title': 'value'}).reset_index()

doughnut_temp['value'] = round(doughnut_temp['value'] / doughnut_temp.sum()['value'] * 100, 1)

doughnut_temp.index = ['Overall'] * doughnut_temp.shape[0]

doughnut_temp.index.name = 'country_name'

doughnut = doughnut.append(doughnut_temp)

main_list = []

for i in doughnut.index.unique():    
    as_list = doughnut.loc[i]['category_title'].tolist()
    as_list[9-doughnut.loc[i].shape[0]:] = ['Others'] * (doughnut.loc[i].shape[0] - 9)
    main_list += as_list

    
doughnut['category_title'] = main_list

doughnut = doughnut.groupby(['country_name', 'category_title']).sum().round(1).sort_values(['country_name', 'value'], ascending = [True, False])

doughnut.to_csv('doughnut.csv', index = True)

pd.read_csv('doughnut.csv')

doughnut.head(10)

                               value
country_name category_title
Brazil       Others             29.5
             Music              25.8
             Entertainment      25.5
             Gaming              7.1
             Comedy              4.8
             Education           2.2
             News & Politics     2.1
             Film & Animation    1.1
             Autos & Vehicles    1.0
             Howto & Style       0.9

In [171]:
# doughnut_1 = df.groupby(['category_title']).agg({'title': 'count'}).rename(columns = {'title': 'count'})
# doughnut_1['value'] = round(doughnut_1['count'] / doughnut_1.sum()['count'] * 100, 1)
# doughnut_1 = doughnut_1.sort_values('value', ascending=False)

# as_list = doughnut_1.index.tolist()
# as_list[-6:] = ['Others'] * 6
# doughnut_1.index = as_list

# doughnut_1.index.name = 'category_title'
# doughnut_1 = doughnut_1.groupby(['category_title']).sum().sort_values('value', ascending = False)
# doughnut_1 = doughnut_1.drop('Others').append(doughnut_1.loc['Others', ])

# doughnut_1['value'].to_csv('doughnut_1.csv', index = True)

# pd.read_csv('doughnut_1.csv')

In [ ]:
def expand(x):
    return x

arr = list(df.loc[df['country_name'] == 'Germany']['tags'].apply(expand))
all_tags = [item.lower() for a in arr for item in a]

df_alltags = pd.DataFrame(all_tags).rename(columns = {0: 'tags'})
all_tags_count = pd.DataFrame(df_alltags.value_counts())

In [ ]:
all_tags_count.head(40)

# all_tags_count.filter(like = 'none', axis = 0)

# df.filter(like = 'index to keep', axis=0)